/*
-- Estilos CSS - Website da Empresa
*/
 
/*
-- Padrões e Reset
*/
 
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}



/*
-- Tipografia e Cores
*/
body {
	color: #333;
	background: #FFF url(../images/fundo_site.jpg);	
}

body, input, select, textarea {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans",
"DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana,
"Verdana Ref", sans-serif;
}

a:link {
	color: #0F599F;
} 

a:visited {
	color: #666;
} 

a:hover {
	color: #000;
	text-decoration: none;
} 

a:focus {
	outline: 1px dotted #F00;
} 

a:active {
	color: #F00;
}


p {
	font-size: 16px;
	margin-bottom: 1.5em;
	line-height: 1.4em;
}

.conteudo-principal {
	display: inline-block;
	max-width: 640px;
	float: left;
}

.conteudo-secundario {
	display: inline-block;
	max-width: 250px;
	min-width: 180px;
	float: right;
	background-color: #33C0FF;
	
}

.conteudo-principal h1,
.conteudo-principal h2,
.conteudo-secundario h3 {
	margin-bottom: 0.5em;
}

.conteudo-principal h1 {
	font-size: 36px;
	
}

.conteudo-principal h2 {
	font-size: 24px;
	}

.conteudo-secundario h3 {
	font-size: 18px;
}

.conteudo-secundario p {
	font-size: 14px;
	
}

.conteudo-secundario img {
	width: 100%;
}

.conteudo-secundario .interna {
	background-color: #EEEEEE;

}


.conteudo-principal ul,
.conteudo-principal ol {
	font-size: 16px;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	list-style-type: square;
}

.conteudo-principal li {
	margin-bottom: 0.3em;
}

#menu-principal li {
	display: inline;
}

#hero_banner {
	height: 200px;
	background: #b6b6b6 url(../images/foto_principal.jpg);
}


.legenda {
	width: 100%;
	margin: 20px;
	background-color: none;
}

/*
-- Estrutura
*/
 
 #cabecalho, #conteudo, #rodape, #hero_banner {
 	display: block;
 	width: 900px;
	margin: 0 auto;

 }

 #rodape {
 	clear: both;
 	background-color: #DDDDDD;
 	margin-top: 20;
 	margin-bottom: 0;
 	margin-left: auto;
 	margin-right: auto;
 }

/*
-- Estilos específicos de Seção
*/
 
/*
-- Formulários
*/
 
/*
-- Tabelas
*/
 
/*
-- Classes de Uso Geral
*/
